.loginScreen {
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

.loginScreen__body>h1 {
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
}

.loginScreen__body>h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
}

.loginScreen__body>h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.loginScreen__body {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 1;
}

.loginScreen__gradient {
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.loginScreen__button {
    background-color: rgb(229, 9, 20);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.625rem 1.25rem;
    position: fixed;
    right: 1.25rem;
    top: 1.25rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginScreen__button:hover {
    transition: all 100ms;
    opacity: 0.8;
}

.loginScreen__logo {
    object-fit: contain;
    padding-left: 1.25rem;
    position: fixed;
    left: 0;
    width: 9.375rem;
}

.loginScreen__input>form>input {
    outline-width: 0;
    padding: 0.625rem;
    max-width: 37.5rem;
    width: 30%;
    height: 1.875rem;
    border: none;
    border-radius: 5px;
}

.loginScreen__input {
    margin: 1.25rem;
}

.loginScreen__getStarted {
    background-color: hsl(357, 92.4%, 46.7%);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0.1875rem;
    padding: 1rem 1.25rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginScreen__getStarted:hover {
    transition: all 100ms;
    opacity: 0.8;
}

@media screen and (max-width: 34.6875em) {
    .loginScreen__gradient {
        height: 60rem;
    }
}