.plansScreen__plan {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem;
    opacity: 0.8;
}

.plansScreen__plan:hover {
    transition: all 100ms;
    opacity: 1;
}

.plansScreen__plan>button {
    background-color: hsl(357, 92.4%, 46.7%);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.plansScreen__plan--disabled>button {
    background-color: gray !important;
    cursor: not-allowed;
}

@media screen and (max-width: 40.625em) {
    .plansScreen__plan>button {
        margin-left: 1.25rem;
    }
}