.signupScreen {
    background: rgba(0, 0, 0, 0.85);
    margin-right: auto;
    margin-left: auto;
    padding: 1.25rem;
    max-width: 18.75rem;
}

.signupScreen>form>h1 {
    margin-bottom: 1.5625rem;
    text-align: left;
}

.signupScreen__gray {
    color: hsl(0, 0%, 50.2%);
}

.signupScreen>form>h4 {
    margin-top: 1.875rem;
    text-align: left;
}

.signupScreen>form {
    display: grid;
    flex-direction: column;
}

.signupScreen>form>input {
    margin-bottom: 0.875rem;
    padding: 0.3125rem 0.9375rem;
    height: 40px;
    border-radius: 0.5rem;
    border: none;
    outline-width: 0;
}

.signupScreen>form>button {
    background-color: hsl(357, 92.4%, 46.7%);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.25rem;
    padding: 1rem 1.25rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.signupScreen_link:hover {
    text-decoration: underline;
    cursor: pointer;
}